services:
  tests:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "53135:53134"
    command: ["npm", "test"]
    depends_on:
      - redis
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379 

  redis:
    image: "redis:alpine"
    ports:
      - "6378:6379"
